<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>That Computer Scientist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/assets/css/docs.css" rel="stylesheet">
    <link href="static/assets/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/images/favicon.png">
    <style type="text/css">
        img {
            filter: saturate(0.7) contrast(1.5) brightness(1.2);
            margin: 2px;
        }

        .simpleList > li::before {
            content: "";
            border-color: transparent #bbbbbb;
            border-style: solid;
            border-width: 0.35em 0 0.35em 0.45em;
            display: block;
            height: 0;
            width: 0;
            left: -1em;
            top: 0.9em;
            position: relative;
        }
    </style>
</head>

<body>
    <!-- Navbar  -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse"></button>
                <a class="brand" href="./">That Computer Scientist</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="../">Home</a></li>
                        <li class="active"><a href="../about">About</a></li>
                        <li><a href="../repos">Repositories</a></li>
                        <li><a href="https://github.com/luciferreeves" target="_blank">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Unit -->
    <header class="jumbotron subhead" id="overview" style="margin-top: 3.75rem;">
        <div class="container">
            <h1>About Me</h1>
            <p class="lead">Who am I? A Data Scientist, of course! But what else? Keep reading!</p>
        </div>
    </header>
    <div class="container cx" style="padding: 1rem;">
        <div class="row">
            <div class="span3 bs-docs-sidebar">
                <ul class="nav nav-list bs-docs-sidenav affix-top">
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#volunteering">Volunteering</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="span9">
                <div id="avatar">
                    <img src="/static/images/me.jpeg" id="imageAvatar">
                </div>
                <section id="about">
                    <div class="page-header">
                        <h1>1. About Me</h1>
                    </div>
                    <p class="lead">I am a graduate student in the <a href="https://www.buffalo.edu/icds"
                            target="_blank">Institute for Computational and Data Sciences (ICDS)</a> at the <a
                            href="https://www.buffalo.edu/" target="_blank">State University of New York (SUNY) at
                            Buffalo</a> currently pursuing MS in Engineering Sciences (Data Science). Apart from that I
                        am a full stack developer proficient in fundamental front-end and server-side languages with
                        knowledge of NodeJS with Express, MySQL and Angular.
                    </p>
                    <p>Computers had caught hold of me since my teenage days, and I developed a passion for them and
                        went on to study computer science and software development. I try to build products through
                        projects which might influence the human life in an efficient manner. To look at my projects
                        till now, go through my <a href="https://github.com/luciferreeves" target="_blank">GitHub
                            profile</a>. Although, I do not always create perfect or useful things and few projects are
                        just for fun, I am trying to do better! Well, there is certainly yet more to learn, yet more
                        problems to solve and yet more to build in the not too distant future!</p>
                    <p>Although I am a person related with computer science, I equally enjoy concepts of physics, and if
                        I didn’t have gone for this field, I might have ended being a physicist. Good thing, I didn't!
                    </p>
                </section>
                <section id="skills">
                    <div class="page-header">
                        <h1>2. Skills</h1>
                    </div>
                    <ul class="simpleList">
                        <li><strong><u>Languages</u></strong>: Python, R, HTML, CSS, JavaScript</li>
                        <li><strong><u>Tools & Libraries</u></strong>: Pandas, Matplotlib, Plotly, Numpy, Scikit-learn,
                            Caret, ggplot2, GGally, MATLAB, MySQL, MariaDB, SQLite, Firebase, Neo4j, TypeScript,
                            Angular, Ionic, NodeJS, ElectronJS, Git</li>
                    </ul>
                </section>
                <section id="projects">
                    <div class="page-header">
                        <h1>3. Projects</h1>
                    </div>
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>A Comprehensive Approach to Analysis and Detection of Emerging Threats due to Network Intrusion.</h3>
                            <ul class="simpleList">
                                <li>CURRENTLY IN PROGRESS</li>
                                <li>This project aims to build a predictive model to fit the data and evaluate performance of the network intrusion detection mechanisms based on the ML methods. This also aims to provide the new researchers with the updated knowledge, recent trends, and progress of the field – which is very imperative in this era.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Predicting Mortality Rate based on the Comprehensive Features of ICU Patients</h3>
                            <ul class="simpleList">
                                <li>Performed an exploratory data analysis (EDA) using R while utilizing a SQL based
                                    dataset to obtain the aggregated features and pre- process data. Built Random Forest
                                    and Naïve Bayes Machine Learning models on the extracted data.</li>
                                <li>Wrote an IEEE style paper for the outcomes of the project and it was selected in the
                                    3 best projects for the course. The university will provide necessary help to
                                    improve and publish the papers in the coming weeks.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Analyzing Earth Surface Temperature using Previous Climate Change Patterns</h3>
                            <ul class="simpleList">
                                <li>Built a time series machine learning model to predict the 7-day temperature forecast for any provided city. The dataset used is the Berkeley Earth Surface Temperature Study dataset. Temperatures from 1950 to 2015 have been considered.</li>
                                <li>Everything has been packaged into a Flask based web interface where the machine learning model is built on-the-fly and then the temperatures are visualized using line graphs and heatmaps on the map of a city.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Sentiment Analysis of Topic-Wise Tweets using Kafka, Tweepy and PySpark</h3>
                            <ul class="simpleList">
                                <li>Sentiment analysis of tweets for a particular targeted topic. The project using Tweepy Streaming, Kafka Producer and Consumer to read relevant tweets. It produces a live matplotlib bar chart with “Positive”, “Negative” and “Neutral” variables. The sentiment of each tweet is also stored in a Cassandra database.</li>
                                <li>Future goals for the project include integrating PySpark with the project and support for multiple Kafka Producers and Consumers with multi-topic streaming.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>BackSlash Linux</h3>
                            <ul class="simpleList">
                                <li>Built a Linux based distribution (based on Ubuntu) which runs on 64-bit CPU architectures (AMD64 and Intel x64), and uses Hardware Enabled monolithic kernel.</li>
                                <li>Features a full GUI Interface based off KDE with some extra customizations on top of it, called “BackSlash Shell”.</li>
                                <li>Provides additional software support on top of the default Ubuntu experience like fingerprint authentication, multi-finger gesture support on trackpad, and Wine windows program compatibility layer (Nowadays, Linux distributions often come with such features out-of-the-box and Valve’s Proton Layer provides better gaming support for Windows games rather than Wine, but considering this distribution was released in 2017, most Linux distributions did not include such features. BackSlash Linux was also the first distribution to include fingerprint authentication out-of-the-box at the time).</li>
                            </ul>
                            <p><a href="https://www.backslashlinux.com" class="btn btn-primary" target="_blank">Project Website</a></p>
                        </div>
                    </div>
                </section>
                <section id="volunteering">
                    <div class="page-header">
                        <h1>4. Volunteering & Achievements</h1>
                    </div>
                    <ul class="simpleList">
                        <li>Served as the senator in the Flint Village Council and Responsible for planning and organizing various types of events along with the council members.</li>
                        <li>Organizer for 2 years (2017 and 2018) for the annual technical festival of Samrat Ashok Technological Institute, called ‘Satyarth-I’. Led the Department of Information Technology and overlooked the smooth operation of the different events which were organized.</li>
                        <li>Volunteered as a mathematics teacher for teaching poor children in an NGO called The Hidden Spark Children Welfare Society and helped the NGO abolish child labor in the city by organizing various events. Also, organized events for cleanliness and helped clean the city with the help of more volunteers and served as the Technical Head of the NGO for 4 years.</li>
                        <li>Delivered a short introduction and features of BackSlash Linux at Open Source India 2017 conference (Asia's largest conference on Open Source).</li>
                        <li>Featured for the ‘Success Story’ section in the December 2017 issue of the Open Source based magazine – Open Source for You.</li>
                    </ul>
                    <h3>Third Party Open Source Contributions</h3>
                    <ul class="simpleList">
                        <li><a href="https://github.com/twbs/bootstrap" target="_blank">twbs/bootstrap</a></li>
                        <li><a href="https://github.com/faker-js/faker" target="_blank">faker-js/faker</a> (Contributor)</li>
                    </ul>
                </section>
                <section id="contact">
                    <div class="page-header">
                        <h1>5. Contact</h1>
                    </div>
                    <p>I am best reachable at my email address at: <a href="mailto:kumarpri@buffalo.edu">kumarpri [at] buffalo.edu</a></p>
                    <h3>Social Media</h3>
                    <p>I am also on <a href="https://www.linkedin.com/in/kumarpriyansh" target="_blank">LinkedIn</a> and <a href="https://www.instagram.com/luciferreeves" target="_blank">Instagram</a>.</p>
                    <h3>Find Me on Campus</h3>
                    <address>
                        <p>308 Flint Village</p>
                        <p>University at Buffalo, North Campus</p>
                        <p>Buffalo, NY 14261</p>
                    </address>
                </section>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="static/assets/js/jquery.js"></script>
    <script src="static/assets/js/bootstrap-386.js"></script>
    <script src="static/assets/js/bootstrap-transition.js"></script>
    <script src="static/assets/js/bootstrap-collapse.js"></script>
    <script>
        let c = document.createElement("canvas");
        ctx = c.getContext('2d');
        let img1 = new Image();

        img1.onload = function () {
            document.getElementById("imageAvatar").remove();

            w = img1.width;
            h = img1.height;

            c.width = w;
            c.height = h;
            ctx.drawImage(img1, 0, 0);

            var pixelArr = ctx.getImageData(0, 0, w, h).data;
            sample_size = 8;

            for (let y = 0; y < h; y += sample_size) {
                for (let x = 0; x < w; x += sample_size) {
                    let p = (x + (y * w)) * 4;
                    ctx.fillStyle = "rgba(" + pixelArr[p] + "," + pixelArr[p + 1] + "," + pixelArr[p + 2] + "," + pixelArr[p + 3] + ")";
                    ctx.fillRect(x, y, sample_size, sample_size);
                }
            }

            let img2 = new Image();
            img2.src = c.toDataURL("image/jpeg");
            img2.width = 192;
            img2.height = 192;
            document.getElementById('avatar').appendChild(img2);
        };

        img1.src = document.getElementById("imageAvatar").src;
    </script>
</body>

</html>