<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>That Computer Scientist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/assets/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <style>
        button {
            outline: none !important;
        }
    </style>
</head>

<body>
    <!-- Navbar  -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse"></button>
                <a class="brand" href="../">That Computer Scientist</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="../">Home</a></li>
                        <li><a href="../about">About</a></li>
                        <li><a href="../repos">Repositories</a></li>
                        <li><a href="https://github.com/luciferreeves" target="_blank">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="login-info" class="container margin-top-375" style="margin-top: 3.75rem;">
        <p id="checkingLogin">CHECKING LOGIN INFO...</p>
    </div>
    <script>
        const checkingLogin = document.getElementById("checkingLogin");

        // Animate checkingLogin text ellipsis
        const animateEllipsis = () => {
            const ellipsis = "....";
            const ellipsisLength = ellipsis.length;
            let i = 0;
            const interval = setInterval(() => {
                if (i === ellipsisLength) {
                    i = 0;
                }
                checkingLogin.innerHTML = 'CHECKING LOGIN INFO' + ellipsis.substring(0, i);
                i++;
            }, 500);
            return interval;
        };

        animateEllipsis();
    </script>
    <!-- Hero Unit -->
    <div id="login-page" class="container margin-top-375 hidden" style="margin-top: 3.75rem;">
        <header class="page-header">
            <h1>Admin Page</h1>
        </header>
        <div class="jumbotron subhead" id="overview">
            <p class="lead">Where do yousa think yousa goen? disa per mesa only.
                <a href="../">Gos home</a>.
            </p>
        </div>
        <div class="login-form">
            <form class="form-horizontal" onsubmit="event.preventDefault();">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" id="signInButton" class="btn">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/bootstrap-transition.js"></script>
    <script src="/static/assets/js/bootstrap-collapse.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="/static/assets/js/pages/config.js"></script>
    <script src="/static/assets/js/pages/admin.js"></script>
</body>

</html>