<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Dashboard</h1>
    <button id="logout">Logout</button>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyBCmKUnEmm8hLR9ZcFWPYbYiplbP6yUzfU",
            authDomain: "thatcomputerscientist-e9cf2.firebaseapp.com",
            projectId: "thatcomputerscientist-e9cf2",
            storageBucket: "thatcomputerscientist-e9cf2.appspot.com",
            messagingSenderId: "178402875544",
            appId: "1:178402875544:web:8c9d8880d3ef495a5658ed",
            measurementId: "G-JECWWZG5J6"
        };
        firebase.initializeApp(firebaseConfig);
        firebase.auth().onAuthStateChanged((user) => {
            if (!user) {
                window.location.assign("/admin/");
            }
        });
        document.getElementById("logout").addEventListener("click", () => {
            firebase.auth().signOut().then(() => {
                window.location.assign("/admin/");
            });
        });
    </script>
</body>

</html>