<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>That Computer Scientist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- <link href="/static/assets/css/docs.css" rel="stylesheet"> -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/base16/seti-ui.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="/static/assets/css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <style type="text/css">
        input,
        textarea {
            width: 100%;
        }

        code,
        pre {
            font-family: 'Fira Code', monospace !important;
            font-size: 14px;
            background-color: #1c1c1c;
            color: #D4D4D5;
        }

        pre {
            padding: 10px;
        }
    </style>
</head>

<body>
    <!-- Navbar  -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse"></button>
                <a class="brand" href="./">That Computer Scientist</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="./">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/repos">Repositories</a></li>
                        <li><a href="https://github.com/luciferreeves" target="_blank">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Unit -->
    <div class="container margin-top-375" style="margin-top: 3.75rem;">
        <h1 id="title"></h1>
        <br>
        <hr>
        <br>
        <h4>Published On: <span id="publishDate"></span></h4>
        <br>
        <h5>Tags: <span id="tags"></span></h5>
        <br>
        <div id="content"></div>
    </div>
    <script src="/static/assets/js/jquery.js"></script>
    <!-- <script src="/static/assets/js/bootstrap-386.js"></script> -->
    <script src="/static/assets/js/bootstrap-transition.js"></script>
    <script src="/static/assets/js/bootstrap-collapse.js"></script>
    <script src="/static/assets/js/marked.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js"
        integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js"
        integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR"
        crossorigin="anonymous"></script>
</body>

</html>