<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>That Computer Scientist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/static/assets/js/jquery.js"></script>
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/assets/css/docs.css" rel="stylesheet">
    <link href="/static/assets/css/custom.css" rel="stylesheet">
    <link href="/static/assets/css/custom-icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <style>
        .a-hvr:hover {
            background-color: #ebe527;
        }
    </style>
</head>

<body>
    <!-- Navbar  -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse"></button>
                <a class="brand" href="./">That Computer Scientist</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="../">Home</a></li>
                        <li><a href="../about">About</a></li>
                        <li class="active"><a href="../repos">Repositories</a></li>
                        <li><a href="https://github.com/luciferreeves" target="_blank">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Unit -->
    <div class="container margin-top-375" style="margin-top: 3.75rem;">
        <h2>Repositories</h2>
        <div class="container">
            <div class="row">
                <ul class="pager">
                    <li id="olderTop" class="previous">
                        <a>&larr; Previous Page</a>
                    </li>
                    <li id="newerTop" class="next">
                        <a>Next Page &rarr;</a>
                    </li>
                </ul>
                <div class="span3 bs-docs-sidebar">
                    <div class="nav nav-list bs-docs-sidenav affix-top" id="userData"></div>
                </div>
                <div class="span9">
                    <div id="repos"></div>
                </div>
                <ul class="pager">
                    <li id="olderBottom" class="previous">
                        <a>&larr; Previous Page</a>
                    </li>
                    <li id="newerBottom" class="next">
                        <a>Next Page &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <script src="/static/assets/js/bootstrap-386.js"></script>
    <script src="/static/assets/js/bootstrap-transition.js"></script>
    <script src="/static/assets/js/bootstrap-collapse.js"></script>
</body>

</html>